.field
  display inline-block
  height: 50px
  width: 50px
  border 1px solid #000
  border-radius: 5px
  margin 0
  padding 0
  overflow hidden
  background #6A2E2D
  opacity 0.85
.field.selected
  background darken(#EED0AE, 20%)
  border-color #000
.field:hover
  background darken(#EED0AE, 40%)
  border-color white
.field.attackable
  background darken(#FF303E, 50%)
  &:hover
    background darken(#FF303E, 60%)
    border-color white
.row:nth-of-type(odd) .field:nth-of-type(odd),
.row:nth-of-type(even) .field:nth-of-type(even)
  background #EED0AE
  &.selected
    background darken(#EED0AE, 20%)
    border-color #000
  &:hover
    background darken(#EED0AE, 40%)
    border-color white
  &.attackable
    background darken(#FF303E, 50%)
    &:hover
      background darken(#FF303E, 60%)
      border-color white
.row
  margin 0
  padding 0
  height: 52px
div
  position relative
.whomoves
  display inline-block
  width 205px
  margin-top 10px
  padding 9px 0
  box-shadow 0 0 5px black
  text-align center
  &.white
    background #fff
    color black
  &.black
    background #222
    color white
.cancelmove
  display inline-block
  width 205px
  margin-top 10px
  padding 10px 0
  background #fff
  border 1px solid black
  box-shadow 0 0 5px black
  cursor pointer
.mat
  position fixed
  left 0
  top 0
  height 480px
  width 430px
  opacity 0.75
  background black
  border-radius 5px
  color white
  display flex
  justify-content center
  align-items center
  font-size 42px
img
  height 50px
  width 50px
  position absolute
  left 0
  top 0
